body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}

.main-container {
    height: 100%;
}

header {
    background: linear-gradient(to right, #ff66c4, #ffde59);
    color: white;
    text-align: center;
    padding: 2rem;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    height: 6rem;
}

header h1 {
    letter-spacing: 2rem;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 1rem;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

.content-container {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.left-section {
    width: 20%;
    padding: 2rem;
    background: linear-gradient(to right, #ff66c4, #ffde59);
    text-align: center;
    overflow-y: auto;

    .profile-photo {
        width: 70%; /* Ensures the image is responsive */
        height: auto;
        border-radius: 50% / 30%; /* Makes the image oval */
        object-fit: cover; /* Ensures the image covers the container properly */
    }


    .personal-details {
        text-align: left;
    }

    .profile-name {
        margin-top: 1.6rem;
        font-size: 1.6rem;

    }

    .social-links {
        margin-top: 1.6rem;
        display: flex;
        justify-content: center; /* Center the links horizontally */
        gap: 3.6rem; /* Space between the links */
        flex-wrap: wrap;
    }

    .social-icon {
        width: 3.2rem;
        height: 3.2rem;
        object-fit: contain;
    }

}


.right-section {
    width:80%;
    padding: 2rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    .cover-section {
        background-image: url("tech_tree.jpeg");
        background-size: cover;
        background-position: center;
        display: flex-column;
        color: white;
        padding: 4rem;


        .pitch {
            margin-top: 2rem;
            margin-bottom: 2rem;
            display: flex-column;
            justify-content: center;
            align-items: center;


            .pitch-title {
                font-size: 3.2rem;
                font-weight: bold;
                margin-bottom: 0;
            }

            .pitch-subtitle {
                font-size: 1.6rem;
                margin-top: 0.5rem;
            }
        }

    }


    .programs-section {
        display:flex-column;


        .our-programs {
            padding: 2rem;
            font-size: 4rem;
            color: #00A75D ;
        }

        .program-outline {
            border: 0.15rem solid #009AF0; 
            padding-left: 2rem;  
            padding-right: 2rem;
            border-radius: 8px; 
            margin-bottom: 2rem;
            transition: transform 0.3s, box-shadow 0.3s; /* Smooth transition for hover effects */
            cursor: pointer; /* Change cursor to pointer on hover */
        }

        
        /* Hover effects */
        .program-outline:hover {
            transform: scale(1.05); /* Slightly enlarge the container */
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
        }

        .program-name {
            text-align: center;
            color:#f43151;
            font-size: 2.4rem;
            font-weight: bold;
        }

        .program-title {
            font-weight: bold;
            font-size: 1.6rem;
        }

        .program-description {
            font-size: 1.2rem;
        }

        .program-cta {
            color: #009AF0;
            font-weight: bold;
        }


    } 


    .why-us-section {
        display:flex-column;

        .why-us{
            padding: 2rem;
            font-size: 4rem;
            color: #00A75D ;
        }

        .why-us-text {
            margin-left: 0.8rem;
            font-size: 1.2rem;
            padding-bottom: 1.2rem;
        }

    }


    .contact-section {
        display:flex-column;

        .contact_us{
            padding: 2rem;
            font-size: 4rem;
            color: #00A75D ;
        }

        .content-contact-us{
            display: flex;
            justify-content: space-around;
        }
    }


    .join-us-section{
        display: flex;
        margin-top: 2rem;
        justify-content: center;
        text-align: center;
        background:#00A75D;
        color:#ffffff;
        font-size: 2rem;  
        padding: 1.2rem; 
    }


    .tnc-section {
        background: #2A3950;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;

        .tnc-container {
            width: 70%;
            text-align: center;
            display: inline-flex;
            justify-content: center;
            justify-content: space-around;
        }

        .tnc-text {
            color : #ffffff;
        }

        .copyright {
            text-align: center;
            color : #ffffff;
            margin-top: 1rem;
        }
    }


    .icon-text-container {
            display: inline-flex; 
            justify-content: center;
            align-items: center;

        .icon-size {
            font-size: 2rem;
        }

        .icon-text {
            margin-left: 0.8rem;
            font-size: 2rem;
        }
    }


    .line-container {
        display: flex;
        align-items: center;
        justify-content: center;

        .line {
            flex-grow: 1;
            height: 0.5rem;
            background-color: #009AF0; 
        }
    }


}


h1 {
    font-size: 3rem; /* Adjust the size as needed */
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1 rem;
}


.blogs-section {
    margin-top: 2rem;
}


.featured-blogs {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.card {
    background: white;
    border-radius: 0.8rem;
    box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    flex: 1 1 calc(33.333% - 1rem);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card img {
    width: 100%;
}

.card-content h2 {
    margin-top: 0;
}

.ebook-section {
    margin-top: 2rem;
}

.stars-image {
    background-image: url("catch-stars.webp");
    background-size: cover;
    background-position: center;
    height: 60vh; 
    display: flex;
    color: white;
    padding: 2rem;
    flex-direction: column;
}

.about img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}





